[{{ item.name }}]
user = {{ item.user }}
group = {{ item.group }}
listen = {{ item.listen }}
listen.owner = {{ item.listen_owner }}
listen.group = {{ item.listen_group }}
listen.mode = {{ item.listen_mode }}
pm = {{ item.pm }}
pm.max_children = {{ item.pm_max_children }}
pm.process_idle_timeout = {{ item.pm_process_idle_timeout }}
pm.max_requests = {{ item.pm_max_requests }}
